*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  background-color: aquamarine;
}
.container{
  margin: auto;
  border: 2px solid black;
  margin-top: 80px;
  padding: 30px;
}
.message{
  display: flex;
  align-items: center;
  justify-content: center;
}
.auth{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
}
.signup,.login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid red;
  padding: 20px;
  gap: 20px;
}
.signup input,.login input{
  padding: 12px;
  border-radius: 7px;
  border: 2px solid blue;
}
.signup input:hover ,.login input:hover {
  border: 2px solid blueviolet;
}
.signup h1,.login h1{
  text-align: center;
}
.signup button,.login button{
  padding: 10px;
  background-color: purple;
  color: white;
  font-weight: bold;
  border-radius: 7px;
  cursor: pointer;
}
.login{
  border: 2px solid green;
}